<p>
  <b>Name:</b>
  <%=h @collage_region.name %>
</p>

<p>
  <b>Top:</b>
  <%=h @collage_region.top %>
</p>

<p>
  <b>Left:</b>
  <%=h @collage_region.left %>
</p>

<p>
  <b>Width:</b>
  <%=h @collage_region.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @collage_region.height %>
</p>


<%= link_to 'Edit', edit_collage_region_path(@collage_region) %> |
<%= link_to 'Back', collage_regions_path %>